# virtual env
.venv/

# diagram
diagram/

# documentation
documentation/

# env file
.env

# PostgreSQL runtime data
docker/docker/postgres/

# MinIO runtime data
docker/docker/minio/

# Airflow logs
docker/docker/logs/

# Temporary dbt wheel downloaded during Docker troubleshooting
dbt_parser.whl

# GitHub Actions cache
.github/.cache/

# dbt cache / configuration
banking_dbt/.dbt/
banking_dbt/logs/
banking_dbt/target/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# macOS
.DS_Store